<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
   <h3>All chats</h3>
   <% for(let chat of chats){ %> 
    <div style="background-color: rgb(239, 243, 243); box-sizing: border-box;">
    <div class="chat">
        <p><%=chat.from %></p>
        <div class="msg">
        <p><%=chat.msg  %>
            <form method="get" action="/chats/<%=chat._id%>/edit">
                <button>edit</button>
    
            </form>
            <form method="post" action="/chats/<%=chat._id%>?_method=DELETE">
                <button>Delete</button>
            </form>
        </p>
    </div>
        <p><%=chat.to %></p>

    </div>
    
    <form method="get" action="/chats/new">
        <button>new chat</button>
    </form>
    <hr>
    <p><%=chat.created_at.toString().split(" ")[4] %></p>
    <p><%=chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p>
</div>
    <% } %>

</body>
</html>